<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="center">
    <div class="j">
      <div class="page page1" id="page1">JAVASCRIPT</div>
      <div class="page page2" id="page2">VUE</div>
      <div class="page page3" id="page3">REACT</div>
      <div class="page page4" id="page4">NODE</div>
      <div class="page page5" id="page5">ES6</div>
      <div class="page page6" id="page6">TYPESCRIPT</div>
<!--   蜡烛暂时隐藏
      <div class="candle">
          <div class="flame"></div>
        </div>
-->
    </div>
  </div>
  <div class="wrapper">
    {{ content }}
  </div>
  
  {% include analytics.html %}
</body>
<script>
    var d = new Date().getDate();
    document.getElementsByTagName("body")[0].style.backgroundImage = 'url(/cyclone.github.io/assets/img/bg/bg' + d + '.jpg)';
    document.addEventListener('mousemove', showMousePosition, false);
    let bodyWidth = document.body.clientWidth;
    let bodyHeight = document.body.clientHeight;
    window.onresize = function () {
        bodyWidth = document.body.clientWidth;
        bodyHeight = document.body.clientHeight;
    };
    let bodyWidthHalf = bodyWidth / 2;
    let bodyHeightHalf = bodyHeight / 2;
    let [diffW, diffH] = [0, 0];
    function showMousePosition(event) {
        diffW = bodyWidthHalf - event.clientX;
        diffH = bodyHeightHalf - event.clientY;
        document.getElementsByTagName("body")[0].style.backgroundPositionX = 50 + diffW * 0.01 + '%';
        document.getElementsByTagName("body")[0].style.backgroundPositionY = 50 + diffH * 0.01 + '%';
    };
    /*
        播放音乐
    */
    let btn1 = document.getElementById("btn1"),
        btn = document.getElementById("btn"),
        btn3 = document.getElementById("btn3"),
        musicArr = [
            { name: '叹-黄玲', value: '00001' },
            { name: '哭泣站台-王小帅', value: '00002' },
            { name: '广寒宫-丸子呦', value: '00003' },
            { name: '一路生花-温奕心', value: '00004' },
            { name: '漠河舞厅-柳爽', value: '00005' },
            { name: '请先说你好-贺一航', value: '00006' },
            { name: '情人-beyond', value: '00007' },
            { name: '留给这世上我最爱的人-容祖儿', value: '00008' },
            { name: '爱就一个字-张信哲', value: '00009' },
            { name: '旅行-许巍', value: '00010' },
            { name: 'Sofia-Alvaro Soler', value: '00011' },
            { name: '粉墨登场-零点乐队', value: '00012' },
            { name: '星星点灯-郑智化', value: '00013' },
            { name: 'Salt-Ava Max', value: '00014' },
            { name: '盗墓笔记·十年人间-李常超 (Lao乾妈)', value: '00015' },
            { name: '房间-刘瑞琦', value: '00016' },
            { name: '如愿-王菲', value: '00017' },
            { name: '我想更懂你-潘玮柏', value: '00018' },
            { name: '不是因为寂寞才想你-T.R.Y', value: '00019' },
            { name: '在他乡-水木年华', value: '00020' },
            { name: '有个爱你的人不容易-那英', value: '00021' },
            { name: '醒来折花-子尧', value: '00022' },
            { name: 'Time of Our Lives', value: '00023' },
            { name: 'Charli Xcx - Boom Clap', value: '00024' },
            { name: 'GARNiDELiA', value: '00025' },
            { name: 'Dream it possible', value: '00026' },
            { name: 'The Nights-Avicii', value: '00027' },
            { name: 'Mammal - Faded', value: '00028' },
            { name: 'bruno mars - marry you', value: '00029' },
            { name: 'One For Da Money', value: '00030' },
            { name: 'Shakira - Waka Waka - 非洲时刻', value: '00031' },
            { name: 'Waiting For Love-Avicii', value: '00032' },
            { name: '爱情鸟-林依轮', value: '00033' },
            { name: '阿衣莫-阿吉太组合', value: '00034' },
            { name: '爱要怎么说出口-赵传', value: '00035' },
            { name: '不要用我的爱来伤害我-韩晶', value: '00036' },
            { name: '从前说-小阿七', value: '00037' },
            { name: '崔健-花房姑娘', value: '00038' },
            { name: '大天蓬-清水er', value: '00039' },
            { name: '带你去旅行', value: '00040' },
            { name: '带我去找夜生活-告五人', value: '00041' },
            { name: '断点-张敬轩', value: '00042' },
            { name: '丢了幸福的猪-姜玉阳', value: '00043' },
            { name: '高原红DJ', value: '00044' },
            { name: '稻香-周杰伦', value: '00045' },
            { name: '光阴的故事-罗大佑', value: '00046' },
            { name: '海阔天空-Beyond', value: '00047' },
            { name: '飞云之下-韩红&林俊杰', value: '00048' },
            { name: '风的季节-Soler', value: '00049' },
            { name: '关不上的窗-周传雄', value: '00050' },
            { name: '红色高跟鞋-蔡健雅', value: '00051' },
            { name: '黄昏-周传雄', value: '00052' },
            { name: '郝云-活着', value: '00053' },
            { name: '开始懂了-孙燕姿', value: '00054' },
            { name: '后来-刘若英', value: '00055' },
            { name: '挥着翅膀的女孩-容祖儿', value: '00056' },
            { name: '爱都爱了-小洲', value: '00057' },
            { name: '可可托海的牧羊人-亚男', value: '00058' },
            { name: '黄勇-男人花', value: '00059' },
            { name: '空空如也', value: '00060' },
            { name: '李玉刚 刚好遇见你', value: '00061' },
            { name: '蓝莲花-许巍', value: '00062' },
            { name: '绿光-孙燕姿', value: '00063' },
            { name: '美人鱼-林俊杰', value: '00064' },
            { name: '魔鬼中的天使-田馥甄', value: '00065' },
            { name: '领悟-辛晓琪', value: '00066' },
            { name: '那个女孩-张泽熙', value: '00067' },
            { name: '女儿情-林俊杰', value: '00068' },
            { name: '暖暖-梁静茹', value: '00069' },
            { name: '女人花-梅艳芳', value: '00070' },
            { name: '平凡之路-朴树', value: '00071' },
            { name: '起风了-买辣椒也用券', value: '00072' },
            { name: '起风了-林俊杰', value: '00073' },
            { name: '青花瓷-周杰伦', value: '00074' },
            { name: '青梅竹马-乌兰托娅', value: '00075' },
            { name: '青丝-等什么君', value: '00076' },
            { name: '牧马城市-毛不易', value: '00077' },
            { name: '暖暖-Imaleader_轩-纯音', value: '00078' },
            { name: '愿得一人心-李行亮', value: '00079' },
            { name: '青蛙乐队-小跳蛙', value: '00080' },
            { name: '悟空-戴荃', value: '00081' },
            { name: '日不落-蔡依林', value: '00082' },
            { name: '生如夏花-朴树', value: '00083' },
            { name: '盛夏的果实-莫文蔚', value: '00084' },
            { name: '手放开-李圣杰', value: '00085' },
            { name: '热情的沙漠-庾澄庆', value: '00086' },
            { name: '岁月神偷-金玟岐', value: '00087' },
            { name: '体面', value: '00088' },
            { name: '听妈妈的话-周杰伦', value: '00089' },
            { name: '听闻远方有你-刘艺雯', value: '00090' },
            { name: '同桌的你-老狼', value: '00091' },
            { name: '我爱你不问归期-白小白', value: '00092' },
            { name: '杨宗纬 张碧晨 - 凉凉', value: '00093' },
            { name: '张杰-今生今世', value: '00094' },
            { name: '最后的人-杨小壮', value: '00095' },
            { name: '夜空中最亮的星', value: '00096' },
            { name: '远走高飞-金志文', value: '00097' },
            { name: '张惠妹 - 听海', value: '00098' },
            { name: '许巍 - 曾经的你', value: '00099' },
            { name: '左手指月-萨顶顶', value: '00100' },
            { name: '有没有一首歌会让你想起我-周华健', value: '00101' },
            { name: '如果有个直达天堂的电梯-岳云鹏', value: '00102' },
        ],
        num = 0,
        isT = 0,
        span = document.querySelector('#btn span'),
        waterText = document.querySelector('.water_text'),
        src = '/cyclone.github.io/assets/music/' + musicArr[num].value + '.mp3',
        isClick=false;
    waterText.innerText = musicArr[num].name;
    let audio = new Audio();
    btn1.addEventListener('click', function () {
        if (num < 1) { num = musicArr.length };
        num--;
        src = '/cyclone.github.io/assets/music/' + musicArr[num].value + '.mp3';
        waterText.innerText = musicArr[num].name;
        audio.src = src;
        audio.play();
        span.className = 'stop';
        isClick = true;
        isT+=2;
    });
    btn3.addEventListener('click', function () {
        if (num == musicArr.length-1) { num = -1 };
        num++;
        src = '/cyclone.github.io/assets/music/' + musicArr[num].value + '.mp3';
        waterText.innerText = musicArr[num].name;
        audio.src = src;
        audio.play();
        span.className = 'stop';
        isClick = true;
        isT+=2;
    });
    btn.addEventListener('click', function () {
        audio.src = src;
        if (!isClick){
            isT++;
        }
        if (isT % 2 != 0) {
            audio.play();
            span.className = 'stop';
        } else {
            audio.pause();
            span.className = 'play';
        };
        isClick = false;
    });
    audio.addEventListener('ended', function () {  
        if (num == musicArr.length-1) { num = -1 };
        num++;
        src = '/cyclone.github.io/assets/music/' + musicArr[num].value + '.mp3';
        waterText.innerText = musicArr[num].name;
        audio.src = src;
        audio.play();
        span.className = 'stop';
        isT+=2;
    }, false);
    var wrap = document.getElementById("wrap");
    var cxt = wrap.getContext("2d");
    //获取API
    window.AudioContext = window.AudioContext || window.webkitAudioContext || window.mozAudioContext || window.msAudioContext;
    //var AudioContext = AudioContext || webkitAudioContext;
    var context = new window.AudioContext();
    //加载媒体

    //创建节点
    var source = context.createMediaElementSource(audio);
    var analyser = context.createAnalyser();
    //连接：source → analyser → destination
    source.connect(analyser);
    analyser.connect(context.destination);
    //创建数据
    var output = new Uint8Array(361);
    //计算出采样频率44100所需的缓冲区长度
    var length = analyser.frequencyBinCount * 44100 / context.sampleRate | 0;
    //创建数据 
    var output2 = new Uint8Array(length);
    
    function shuffle() {
      let arr = ["#fd5353","#fea781","#dd57ff","#5febff","#717cf9"]
//       let nArr = JSON.parse(JSON.stringify(arr))
//       let result = [],random;
//       while (nArr.length > 0) {
//         random = Math.floor(Math.random() * nArr.length);
//         result.push(nArr[random])
//         nArr.splice(random, 1)
//       }
//      return result;
      return arr;
    }
    (function drawSpectrum() {
        let nColorList = shuffle()
        analyser.getByteFrequencyData(output);//获取频域数据
        cxt.clearRect(0, 0, wrap.width, wrap.height);
        //var gradient = cxt.createLinearGradient(40, 40, 180, 180);
        var gradient = cxt.createLinearGradient(40, 40, 180, 180);
        gradient.addColorStop("0.1", nColorList[0]);
        gradient.addColorStop("0.4", nColorList[1]);
        gradient.addColorStop("0.5", nColorList[2]);
        gradient.addColorStop("0.7", nColorList[3]);
        gradient.addColorStop("1.0", nColorList[4]);
        //画线条
        for (var i = 0; i < output.length; i++) {
            var value = output[i] / 10;
            //绘制左半边
            cxt.beginPath();
            cxt.lineWidth = 1;
            cxt.moveTo(110, 110);
            cxt.lineTo(Math.cos((i * 0.5 + 90) / 180 * Math.PI) * (60 + value) + 110, (- Math.sin((i * 0.5 + 90) / 180 * Math.PI) * (60 + value) + 110));
            cxt.stroke();
            //绘制右半边
            cxt.beginPath();
            cxt.lineWidth = 1;
            cxt.moveTo(110, 110);
            cxt.lineTo((Math.sin((i * 0.5) / 180 * Math.PI) * (60 + value) + 110), -Math.cos((i * 0.5) / 180 * Math.PI) * (60 + value) + 110);
            cxt.strokeStyle = gradient;
            cxt.stroke();
        };
        //画一个小圆，将线条覆盖
        cxt.beginPath();
        cxt.lineWidth = 1;
        cxt.arc(110, 110, 60, 0, 2 * Math.PI, false);
        cxt.fillStyle = "#fff";
        cxt.stroke();
        cxt.fill();
        //将缓冲区的数据绘制到Canvas上 
        analyser.getByteTimeDomainData(output2);
        var height = 110, width = 120;
        cxt.beginPath();
        for (var i = 0; i < width; i++) {
            cxt.lineTo(i + 50, 110 - (height / 2 * (output2[output2.length * i / width | 0] / 256 - 0.5)));
        }
        cxt.strokeStyle = gradient;
        cxt.stroke();
        //请求下一帧
        requestAnimationFrame(drawSpectrum);
    })();
</script>
</html>
